{% extends 'base.html' %}
{% load static from static %}
{% block content %}
    <style>
        .background{
            height: 300px;
            width: 100%;
            background-image: url({% static "img/22042531-1_m.jpg" %});
        }
        .topic_label{
            position: absolute;
            left: 50px;
            top:300px;
            font-size: xxx-large;
            font-family: 'Amatic SC', cursive;
            color: black;
        }
        .img_set{
            width: 35%;
            height: 35%;
        }
        .img_pos{
            display:block;
            margin:auto;
            text-align:center;
        }
        .item_label{
            margin-bottom: 20px;
            font-size: xx-large;
            font-family: 'M PLUS 1 Code', sans-serif;
        }
        .bt_color{
            background-color:#84C1FF !important;
            color: #003D79 !important;
        }
        </style>
    <div class="row no-gutters">
        <div class="background">
            <div class="topic_label">
                <label>Caring like cloud</label>
            </div>
        </div>
        <div class="row no-gutters" style="padding-top:50px; padding-left: 100px;padding-right: 100px">
            <div class="item_label">
                <img width="50" height="50" src="{% static 'img/cloud2.png' %}">
                <label>Our Service</label>
            </div>
            <div class="col-4 img_pos">
                <div style="width: 100%">
                    <img class="img_set" src="{% static 'img/care.png' %}">
                </div>
                <div class="item_label">
                    <label>Personal Consultation</label>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-lg bt_color">Book Now</button>
                </div>
            </div>
            <div class="col-4 img_pos">
                <div style="width: 100%">
                    <img class="img_set" src="{% static 'img/couple.png' %}">
                </div>
                <div class="item_label">
                    <label>Couple Consultation</label>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-lg bt_color">Book Now</button>
                </div>
            </div>
            <div class="col-4 img_pos">
                <div style="width: 100%">
                    <img class="img_set" src="{% static 'img/group.png' %}">
                </div>
                <div class="item_label">
                    <label>Group Course</label>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-lg bt_color">Book Now</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}