{% extends 'base.html' %}
{% load static from static %}
{% block content %}
    <style>
        .background{
            height: 400px;
            width: 100%;
            background-image: url({% static "img/22042531-1_m.jpg" %});
            opacity: 0.3;
            transition: opacity 2s;
        }
        .topic_label{
            position: absolute;
            left: 50px;
            top: 400px;
            font-size: xxx-large;
            font-family: 'Amatic SC', cursive;
            color: black;
            opacity: 0.3;
            transition: opacity 3s;
        }
        .img_set{
            width: 35%;
            height: 35%;
        }
        .img_pos{
            display:block;
            margin:auto;
            text-align:center;
        }
        .item_label{
            margin-bottom: 20px;
            font-size: xx-large;
            font-family: 'M PLUS 1 Code', sans-serif;
        }
        .test_area{
            height: 400px;
        }
        .button_label{
            font-size: x-large;
            font-family: 'Kalam', cursive;
        }
        .main_content{
            padding-top:30px;
            padding-left: 200px;
            padding-right: 200px;
        }
        </style>
    <div>
        <div class="background">
            <div class="topic_label">
                <label>Caring like cloud</label>
            </div>
        </div>
        <div class="row no-gutters main_content">
            <div class="item_label">
                <img width="50" height="50" src="{% static 'img/cloud2.png' %}">
                <label>Our Service</label>
            </div>
            <div class="col-4 img_pos">
                <div style="width: 100%">
                    <img class="img_set" src="{% static 'img/care.png' %}">
                </div>
                <div class="item_label">
                    <label>Personal Consultation</label>
                </div>
                <div>
                    <a class="btn btn-outline-primary" href="{% url 'appointment' %}">Book Now</a>
                </div>
            </div>
            <div class="col-4 img_pos">
                <div style="width: 100%">
                    <img class="img_set" src="{% static 'img/couple.png' %}">
                </div>
                <div class="item_label">
                    <label>Couple Consultation</label>
                </div>
                <div>
                    <a class="btn btn-outline-primary" href="{% url 'appointment' %}">Book Now</a>
                </div>
            </div>
            <div class="col-4 img_pos">
                <div style="width: 100%">
                    <img class="img_set" src="{% static 'img/group.png' %}">
                </div>
                <div class="item_label">
                    <label>Group Course</label>
                </div>
                <div>
                    <a class="btn btn-outline-primary" href="{% url 'appointment' %}">Book Now</a>
                </div>
            </div>
            <div class="item_label" style="padding-top: 150px">
                <img width="50" height="50" src="{% static 'img/cloud2.png' %}">
                <label>Latest News</label>
            </div>
            <div class="row no-gutters" style="margin-top: 50px; margin-bottom: 50px">
                <div class="col-4 d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                      <svg class="bi" width="1em" height="1em">
                          <img width="50em" height="50em" src="{% static 'img/weekend.png' %}">
                      </svg>
                    </div>
                    <div>
                      <h2>We start the weekend service!</h2>
                        <p>According to our arrangement, we finally have enough manpower to support the service on the
                            weekend. Hoping this change can provide better flexibility to all customers. Welcome to make
                            the appointment with our counselors.</p>
                      <a href="#" class="btn btn-primary">
                        More Detail
                      </a>
                    </div>
                </div>
                <div class="col-4 d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                      <svg class="bi" width="1em" height="1em">
                          <img width="50em" height="50em" src="{% static 'img/health-care.png' %}">
                      </svg>
                    </div>
                    <div>
                      <h2>Free consultation for medical personnel</h2>
                        <p>To thanks to all medical personnel's contributions, the government provides six times
                            consultation service. Please click the button below to see more information or contact us right now.</p>
                      <a href="https://dep.mohw.gov.tw/domhaoh/cp-4740-62476-107.html" target="_blank" class="btn btn-primary">
                        More Detail
                      </a>
                    </div>
                </div>
                <div class="col-4 d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                      <svg class="bi" width="1em" height="1em">
                          <img width="50em" height="50em" src="{% static 'img/healthcare.png' %}">
                      </svg>
                    </div>
                    <div>
                      <h2>Always taking care of the family? You also need to be taken care of.</h2>
                        <p>Being the main family support, working all day and night, do you always feel tired?</p>
                      <a href="#" class="btn btn-primary">
                        More Detail
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $( document ).ready(function(){
            $('.topic_label').css('opacity', 1);
            $('.background').css('opacity', 1);
        });
    </script>
{% endblock %}