{% extends 'base.html' %}
{% load static from static %}
{% block content %}
    <style>
        .wrapper{
            flex-grow: 1;
        }
        .background{
            height: 400px;
            width: 100%;
            background-image: url({% static "img/22042531-1_m.jpg" %});
            opacity: 0.3;
            transition: opacity 2s;
        }
        .topic_label{
            position: absolute;
            left: 50px;
            top: 400px;
            font-size: xxx-large;
            font-family: 'Amatic SC', cursive;
            color: black;
            opacity: 0.3;
            transition: opacity 3s;
        }
        .img_set{
            width: 35%;
            height: 35%;
        }
        .img_pos{
            display:block;
            margin:auto;
            text-align:center;
        }
        .item_label{
            margin-bottom: 20px;
            font-size: xx-large;
            font-family: 'M PLUS 1 Code', sans-serif;
        }
        .footer{
            height: 150px;
            background-color: #5f788a;
            padding-top: 10px;
            padding-left: 600px;
        }
        .test_area{
            height: 400px;
        }
        .button_label{
            font-size: x-large;
            font-family: 'Kalam', cursive;
        }
        </style>
    <div class="wrapper">
        <div class="background">
            <div class="topic_label">
                <label>Caring like cloud</label>
            </div>
        </div>
        <div class="row no-gutters" style="padding-top:30px; padding-left: 200px;padding-right: 200px">
            <div class="item_label">
                <img width="50" height="50" src="{% static 'img/cloud2.png' %}">
                <label>Our Service</label>
            </div>
            <div class="col-4 img_pos">
                <div style="width: 100%">
                    <img class="img_set" src="{% static 'img/care.png' %}">
                </div>
                <div class="item_label">
                    <label>Personal Consultation</label>
                </div>
                <div>
                    <a class="btn btn-outline-primary" href="{% url 'appointment' %}">Book Now</a>
                </div>
            </div>
            <div class="col-4 img_pos">
                <div style="width: 100%">
                    <img class="img_set" src="{% static 'img/couple.png' %}">
                </div>
                <div class="item_label">
                    <label>Couple Consultation</label>
                </div>
                <div>
                    <a class="btn btn-outline-primary" href="{% url 'appointment' %}">Book Now</a>
                </div>
            </div>
            <div class="col-4 img_pos">
                <div style="width: 100%">
                    <img class="img_set" src="{% static 'img/group.png' %}">
                </div>
                <div class="item_label">
                    <label>Group Course</label>
                </div>
                <div>
                    <a class="btn btn-outline-primary" href="{% url 'appointment' %}">Book Now</a>
                </div>
            </div>
        </div>
        <div class="test_area">

        </div>
        <footer class="footer">
            <div>
                <img class="title_img" width="40" height="40" src="{% static 'img/cloud-computing.png' %}">
                <label class="button_label">Cloud Counseling Office</label><br>
                <label>
                    Address:Counseling road Counseling street No.100<br>
                    Business hours: 10:00 ~ 21:00 <br>
                    Email:liucloudconsulting@gmail.com
                </label>

            </div>
        </footer>
    </div>
    <script>
        $( document ).ready(function(){
            $('.topic_label').css('opacity', 1);
            $('.background').css('opacity', 1);
        });
    </script>
{% endblock %}