{% block Content0 %}
    <style>
        .tr_app{
            border: #5f788a;
            border-style: solid;
        }
        .th_app{
            background-color: #5f788a;
            color: white;
            font-size: large;
            width: 100px;
        }
        .th_info{
            background-color: #5f788a;
            color: white;
            font-size: large;
            width: 150px;
            border: #5f788a;
            border-style: solid;
        }
        input{
            border-style: none;
            font-size: x-large;
        }
        .part1_ans{
            width: 370px;
        }
        .input-group{
            border: #5f788a;
            border-style: double;
            height: 150px;
        }
        textarea{
            resize:none;
        }
        .q_button{
            margin-top: 5px;
        }
        #personal_info{
            width: 96.7%;
        }
        .modal-content{
            width: 350px;
            height: 500px;
        }
        .center_window{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .text_input{
            width: 300px;
            height: 50px;
        }
        .text_input_note{
            width: 300px;
            height: 100px;
        }
        .label_text{
            width: 80px;
        }
    </style>
    <div class="row-no-gutters row" style="padding: 10px">
        <div class="col-4">
            <div id="calendar"></div>
            <div style="margin-top: 10px">
                <button type="button" class="btn btn-primary" onclick="submitCalendar()">Save</button>
            </div>
        </div>
        <div class="col-6">
            {% include '../users/uni_appointment.html' %}
        </div>
        <div class="col-2">
            <table id="app_table" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="">#</th>
                        <th scope="col" class="">Name</th>
                        <th scope="col" class="">Active</th>
                    </tr>
                </thead>
                <tbody>
                    {% for app in app_list %}
                        <tr id="{{ app.id }}" onclick="render_app(this.id)">
                            <th scope="row" class="column_1">{{ forloop.counter }}</th>
                            <td id="list_name_{{ app.id }}" class="">{{ app.last_name }} {{ app.first_name }}</td>
                            <td class="">
                                <div class="form-check form-switch">
                                  <input id="check_{{ app.id }}" class="form-check-input" onclick="app_active('{{ app.id }}', this.id)"  type="checkbox">
                                </div>
                            </td>
                            <td id="list_number_{{ app.id }}" style="display: none">{{ app.contact_number }}</td>
                            <td id="list_email_{{ app.id }}" style="display: none">{{ app.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="event_window" class="modal" style="display: none">
        <div class="center_window">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Appointment</h5>
                </div>
                <div class="modal-body">
                    <input id="appointment_id" style="display: none">
                    <div class="input-group mb-3 text_input">
                        <span id="basic-addon1" class="input-group-text label_text">Date</span>
                        <input id="appointment_date" class="form-control" type="text" aria-describedby="basic-addon1" readonly>
                    </div>
                    <div class="input-group mb-3 text_input">
                        <span id="basic-addon2" class="input-group-text label_text">Name</span>
                        <select id="appointment_name" class="form-select" aria-describedby="basic-addon2">
                            <option></option>
                            {% for app in app_list %}
                                {% if app.app_active %}
                                    <option value="{{ app.id }}">{{ app.last_name }} {{ app.first_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3 text_input">
                        <span id="basic-addon3" class="input-group-text label_text">Time</span>
                        <select id="appointment_time" class="form-select" aria-describedby="basic-addon3">
                            <option></option>
                            <option value="10:00">10:00~11:00</option>
                            <option value="11:00">11:00~12:00</option>
                            <option value="13:00">13:00~14:00</option>
                            <option value="14:00">14:00~15:00</option>
                            <option value="15:00">15:00~16:00</option>
                            <option value="16:00">16:00~17:00</option>
                            <option value="18:00">18:00~19:00</option>
                            <option value="19:00">19:00~20:00</option>
                            <option value="20:00">20:00~21:00</option>
                        </select>
                    </div>
                    <div class="input-group mb-3 text_input_note">
                        <span id="basic-addon4" class="input-group-text label_text">Note</span>
                        <textarea id="appointment_note" class="form-control" type="text" aria-describedby="basic-addon4"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="window_clear()">Close</button>
                    <button type="button" class="btn btn-primary" onclick="creatEvent()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function (){
            {% for app in app_list %}
                if ('{{ app.app_active }}' == 'True'){ $('#check_{{ app.id }}').attr('checked','true')}
            {% endfor %}
            $('#appointment_form :input').attr("disabled", true);
            $('#calendar').fullCalendar({
                contentHeight:'auto',
                header: {
                            left: "prev,next today",
                            center: "title",
                            right: "month,basicWeek,basicDay"
                        },
                dayClick:function (data, event, view){
                    $('#event_window').css('display', 'block')
                    $('#appointment_date').val(data.format('YYYY-MM-DD'))
                },
                eventClick:function (event, element){
                    $('#appointment_id').val(event._id);
                    $('#appointment_date').val(event.start._i.split('T')[0]);
                    $('#appointment_time').val(event.start._i.split('T')[1]);
                    $('#appointment_name').val(event.app_user_id).attr('disabled', true);
                    $('#appointment_note').val(event.note);
                    $('#event_window').css('display', 'block')

                }
            })
            //let historyEvent = JSON.parse('{{ allEvents }}');
            let historyEvent = []
            {% for old_event in allEvents %}
                console.log(old_event)
            {% endfor %}
            {#    [{#}
            {#    title: 'test event',#}
            {#    start:moment('2022-01-21T10:00').format('Y-MM-DD HH:mm:ss'),#}
            {#    end:moment('2022-01-21T11:00').format('Y-MM-DD HH:mm:ss'),#}
            {#    note:'789456',#}
            {#    backgroundColor: 'lightBlue',#}
            {#    borderColor:'transparent',#}
            {#    cal_id:1,                  ///預約table的seq#}
            {#    app_user_id:'2'},          ///預約者user id#}
            {#{#}
            {#    title: 'test event2',#}
            {#    start:moment('2022-01-23T15:00').format('Y-MM-DD HH:mm:ss'),#}
            {#    end:moment('2022-01-23T16:00').format('Y-MM-DD HH:mm:ss'),#}
            {#    note:'abcdefg',#}
            {#    backgroundColor: 'lightBlue',#}
            {#    borderColor:'transparent',#}
            {#    cal_id:2,#}
            {#    app_user_id:'3'#}
            {#}]#}
            $('#calendar').fullCalendar('renderEvents',historyEvent)
        })

        function render_app(id){
            $('#app_table tr').css('background-color', 'transparent');
            $('#' + id).css('background-color', '#FFE66F');
            $.ajax({
                method:'GET',
                url: '{% url 'load_app' %}',
                data:{
                    id:id,
                },
                success:function (datas){
                    $('#appointment_form :input').attr('checked', false);
                    $('#q_other').val('');
                    for (var key in datas[0]){
                        if (datas[0][key]){ $('#' + key).attr('checked', true)}
                        if (key == 'q_other'){$('#' + key).val(datas[0][key])}
                    }
                    let name = $('#list_name_' + id.toString()).text();
                    $('#app_first').val(name.split(' ')[0]);
                    $('#app_last').val(name.split(' ')[1]);
                    $('#app_number').val($('#list_number_' + id.toString()).text());
                    $('#app_email').val($('#list_email_' + id.toString()).text());
                }
            })
        }
        function app_active(appId, inputId){
            let original = $('#' + inputId).prop('checked')
            let message
            if (!original){
                message = 'Do you want to CLOSE the appointment of this account?'
            }else {
                message = 'Do you want to OPEN the appointment of this account?'
            }
            Swal.fire({
                title: message,
                showCancelButton: true,
                confirmButtonText: 'Save',
                denyButtonText: `Don't save`,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method:'GET',
                        url: '{% url 'update_app_active' %}',
                        data:{
                            id:appId,
                            status:original,
                        },
                        success:function (datas){
                            alert(datas.message)
                            location.reload();
                        }
                    })

                } else{
                    if (original){
                        $('#' + inputId).prop('checked', false)
                    }else {
                        $('#' + inputId).prop('checked', true)
                    }

                }
            })
        }
        function creatEvent(){
            let eventDate = $('#appointment_date').val();
            let eventTime = $('#appointment_time').val();
            let color
            if (eventTime.split(':')[0] > 17){
                color = '#339933'
            }else if (eventTime.split(':')[0] > 12){
                color = '#FFCC33'
            }else {
                color = '#0066CC'
            }
            if ($('#appointment_id').val()){
                let update_event = $('#calendar').fullCalendar('clientEvents',$('#appointment_id').val())[0];
                update_event.start = moment(eventDate + 'T' + eventTime).format('Y-MM-DD HH:mm:ss');
                update_event.end = moment(eventDate + 'T' + (parseInt(eventTime.split(':'))+1) + ':00').format('Y-MM-DD HH:mm:ss');
                update_event.note = $('#appointment_note').val();
                update_event.backgroundColor = color;
                $("#calendar").fullCalendar('removeEvents', $('#appointment_id').val());
                $("#calendar").fullCalendar('renderEvent', update_event);
            }else {
                $('#calendar').fullCalendar('renderEvent', {
                    title: $('#appointment_name').find("option:selected").text(),
                    backgroundColor:color,
                    borderColor:'transparent',
                    start: moment(eventDate + 'T' + eventTime.split('~')[0]).format('Y-MM-DD HH:mm:ss'),
                    end:moment(eventDate + 'T' + eventTime.split('~')[1]).format('Y-MM-DD HH:mm:ss'),
                    app_user_id:$('#appointment_name :selected').val(),
                    note:$('#appointment_note').val()
                });
            }
            window_clear()
        }
        function window_clear(){
            $('#event_window').css('display', 'none');
            $('#appointment_name').attr('disabled', false);
            $("[id^='appointment_']").val('')
        }
        function submitCalendar(){
            let events = $('#calendar').fullCalendar('clientEvents');
            $.ajax({
                method:'GET',
                url: '{% url 'submit_calendar' %}',
                data:{
                    events:JSON.stringify(events),
                },
                success:function (datas){
                    alert(datas.message)
                    location.reload();
                }
            })
        }
    </script>
{% endblock %}