{% load static %}
<!doctype html>
<html lang="en">
<style>
    html, body {
        height: 90%;
        width: 99.6%;
        margin: 0;
    }
    .header{
        position: absolute;
        top:0;
        z-index: 900;
    }
    #topic{
        position: fixed;
        width: 100%;
        height: 80px;
    }
    .top_title{
        color: #004B97;
        padding-left: 10px;
        font-family: 'Kalam', cursive;
    }
    .main-content{
        min-height: 100%;
    }
    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 150px;
        background-color: #5f788a;
        padding-top: 10px;
        padding-left: 600px;
    }
</style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">

      <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Kalam&family=M+PLUS+1+Code&display=swap" rel="stylesheet">

    <!-- Browser Icon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/cloud-computing.png' %}"/>

    <!-- Recaptcha v3 -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

    <!-- fancyapps -->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />

    <!-- fullCalendar -->
    <link rel='stylesheet' href='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.min.css' />
    <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/moment.min.js'></script>
    <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/jquery.min.js'></script>
    <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/jquery-ui.min.js'></script>
    <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.min.js'></script>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <title>Cloud Counseling Office</title>
  </head>
  <body onhashchange="changeHash()">
    <header class="site-header header">
      <nav id="topic" class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <img class="title_img" width="50" height="50" src="{% static 'img/cloud-computing.png' %}">
            <a class="navbar-brand top_title" href="{% url 'home' %}">Cloud Counseling Office</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div style="width: 50%">
                {% if user.is_superuser %}
                    <a class="btn btn btn-outline-light" href="{% url 'spuser_managepage' %}">Management</a>
                {% endif %}
            </div>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'appointment' %}">My Appointment</a>
                <a class="btn btn btn btn-outline-light" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                <a class="btn btn btn-outline-light" href="{% url 'login' %}">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer">
        <div>
            <img class="title_img" width="40" height="40" src="{% static 'img/cloud-computing.png' %}">
            <label class="button_label">Cloud Counseling Office</label><br>
            <label>
                Address:Counseling road Counseling street No.100<br>
                Business hours: 10:00 ~ 21:00 <br>
                Email:liucloudconsulting@gmail.com
            </label>

        </div>
    </footer>

  </body>
    <script>
        $(document).ready(function() {
            changeHash()
        });

        function changeHash(){
            var location = window.location
            if(location.hash.indexOf("#") != -1){
                var newOrigin = location.origin + '/' +location.pathname.split('/')[1] + location.hash.replace("#", "/") +'/'
                $.get(newOrigin, function(html){
                    $("#formHolder").html(html)
                });
            }
        }

        function formHash(appPath, para){
            if(location.pathname.split('/')[1] == appPath.split('/')[1]){
                window.location.hash ="#" + appPath.split('/')[2]
            }else{
               window.open(location.origin + appPath + "#" + para, '_self')
            }
        }
    </script>
</html>