{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        #appointment_top{
            font-family: "Georgia", serif;
            font-size: xx-large;
            padding-left: 30%;
            margin-bottom: 10px;
            margin-top: 20px;
        }
        tr{
            border: #5f788a;
            border-style: solid;
        }
        th{
            background-color: #5f788a;
            color: white;
            font-size: large;
            width: 150px;
        }
        input{
            border-style: none;
            font-size: x-large;
        }
        .week{
            width: 100px;
            margin-left: 10px;
        }
        .part1_ans{
            width: 500px;
        }
        .input-group{
            border: #5f788a;
            border-style: double;
        }
        textarea{
            resize:none;
        }
        .q_button{
            margin-top: 5px;
        }
    </style>
     <div class="row no-gutters">
        <div class="col-3"></div>
        <div class="col-6">
            <div id="appointment_top">
                <label>Consultation appointment</label>
            </div>
            <form id="appointment_form" method="post">
                {% csrf_token %}
                <input type="hidden" name="g-recaptcha-response" id='g-recaptcha-response'>
                <table width="100%">
                    <tbody>
                        <tr>
                            <th>First Name</th>
                            <td>
                                <input name="first_name" value="{{ user_form.first_name.value }}" readonly>
                            </td>
                            <th>Last Name</th>
                            <td>
                                <input type="text" name="last_name" value="{{ user_form.last_name.value }}" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>Contact Number</th>
                            <td>
                                <input type="text" name="contact_number" value="{{ user_form.contact_number.value }}" readonly>
                            </td>
                            <th>Email</th>
                            <td>
                                <input type="text" name="email" value="{{ user_form.email.value }}" readonly>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table>
                    <tbody>
                        <tr style="width: 100%">
                            <th rowspan=4>Available Time</th>
                            <td class="part1_ans" nowrap="nowrap">
                                <label class="week">Monday</label>
                                <input type="checkbox" class="btn-check" id="mon_m" autocomplete="off">
                                <label class="btn btn-outline-primary" for="mon_m">Morning</label>

                                <input type="checkbox" class="btn-check" id="mon_a" autocomplete="off">
                                <label class="btn btn-outline-primary" for="mon_a">Afternoon</label>

                                <input type="checkbox" class="btn-check" id="mon_e" autocomplete="off">
                                <label class="btn btn-outline-primary" for="mon_e">Evening</label>
                            </td>
                            <td class="part1_ans" nowrap="nowrap">
                                <label class="week">Tuesday</label>
                                <input type="checkbox" class="btn-check" id="tue_m" autocomplete="off">
                                <label class="btn btn-outline-primary" for="tue_m">Morning</label>

                                <input type="checkbox" class="btn-check" id="tue_a" autocomplete="off">
                                <label class="btn btn-outline-primary" for="tue_a">Afternoon</label>

                                <input type="checkbox" class="btn-check" id="tue_e" autocomplete="off">
                                <label class="btn btn-outline-primary" for="tue_e">Evening</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="part1_ans" nowrap="nowrap">
                                <label class="week">Wednesday</label>
                                <input type="checkbox" class="btn-check" id="wed_m" autocomplete="off">
                                <label class="btn btn-outline-primary" for="wed_m">Morning</label>

                                <input type="checkbox" class="btn-check" id="wed_a" autocomplete="off">
                                <label class="btn btn-outline-primary" for="wed_a">Afternoon</label>

                                <input type="checkbox" class="btn-check" id="wed_e" autocomplete="off">
                                <label class="btn btn-outline-primary" for="wed_e">Evening</label>
                            </td>
                            <td class="part1_ans" nowrap="nowrap">
                                <label class="week">Thursday</label>
                                <input type="checkbox" class="btn-check" id="thu_m" autocomplete="off">
                                <label class="btn btn-outline-primary" for="thu_m">Morning</label>

                                <input type="checkbox" class="btn-check" id="thu_a" autocomplete="off">
                                <label class="btn btn-outline-primary" for="thu_a">Afternoon</label>

                                <input type="checkbox" class="btn-check" id="thu_e" autocomplete="off">
                                <label class="btn btn-outline-primary" for="thu_e">Evening</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="part1_ans" nowrap="nowrap">
                                <label class="week">Friday</label>
                                <input type="checkbox" class="btn-check" id="fri_m" autocomplete="off">
                                <label class="btn btn-outline-primary" for="fri_m">Morning</label>

                                <input type="checkbox" class="btn-check" id="fri_a" autocomplete="off">
                                <label class="btn btn-outline-primary" for="fri_a">Afternoon</label>

                                <input type="checkbox" class="btn-check" id="fri_e" autocomplete="off">
                                <label class="btn btn-outline-primary" for="fri_e">Evening</label>
                            </td>
                            <td class="part1_ans" nowrap="nowrap">
                                <label class="week">Saturday</label>
                                <input type="checkbox" class="btn-check" id="sat_m" autocomplete="off">
                                <label class="btn btn-outline-primary" for="sat_m">Morning</label>

                                <input type="checkbox" class="btn-check" id="sat_a" autocomplete="off">
                                <label class="btn btn-outline-primary" for="sat_a">Afternoon</label>

                                <input type="checkbox" class="btn-check" id="sat_e" autocomplete="off">
                                <label class="btn btn-outline-primary" for="sat_e">Evening</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="part1_ans" nowrap="nowrap">
                                <label class="week">Sunday</label>
                                <input type="checkbox" class="btn-check" id="sun_m" autocomplete="off">
                                <label class="btn btn-outline-primary" for="sun_m">Morning</label>

                                <input type="checkbox" class="btn-check" id="sun_a" autocomplete="off">
                                <label class="btn btn-outline-primary" for="sun_a">Afternoon</label>

                                <input type="checkbox" class="btn-check" id="sun_e" autocomplete="off">
                                <label class="btn btn-outline-primary" for="sun_e">Evening</label>
                            </td>
                        </tr>
                        <tr>
                            <th>Consultation Issue</th>
                            <td colspan="2">
                                <input type="checkbox" class="btn-check" id="q_career" autocomplete="off">
                                <label class="btn btn-outline-success" for="q_career">Career issues</label>

                                <input type="checkbox" class="btn-check" id="q_family" autocomplete="off">
                                <label class="btn btn-outline-success" for="q_family">Family issues</label>

                                <input type="checkbox" class="btn-check" id="q_stress" autocomplete="off">
                                <label class="btn btn-outline-success" for="q_stress">Over stress</label>

                                <input type="checkbox" class="btn-check" id="q_relationship" autocomplete="off">
                                <label class="btn btn-outline-success" for="q_relationship">Relationship problem</label>

                                <input type="checkbox" class="btn-check" id="q_suicide" autocomplete="off">
                                <label class="btn btn-outline-success" for="q_suicide">Suicide/Self-injury</label>

                                <input type="checkbox" class="btn-check" id="q_violence" autocomplete="off">
                                <label class="btn btn-outline-success q_button" for="q_violence">Violence/Sexual assault</label>

                                <input type="checkbox" class="btn-check" id="q_homo" autocomplete="off">
                                <label class="btn btn-outline-success q_button" for="q_homo">Homosexual/Gender issues</label>

                                <input type="checkbox" class="btn-check" id="q_trauma" autocomplete="off">
                                <label class="btn btn-outline-success q_button" for="q_trauma">Psychological trauma</label>

                                <div class="input-group">
                                  <span class="input-group-text">Other problem (please describe)</span>
                                  <textarea class="form-control" aria-label="With textarea"></textarea>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button id="submit" class="g-recaptcha btn btn-primary" data-sitekey='{{site_key}}'
                    data-action="verify1" data-callback="verifyCallback" >Submit
                </button>
            </form>
        </div>
     </div>
    <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
    <script>
        grecaptcha.ready(function() {
          grecaptcha.execute('{{site_key}}', {action: "appointment"}).then(function(token) {
              $('#g-recaptcha-response').attr("value",token)
          });
        });

        $('#submit').click( function() {
            $.ajax({
                url: "{% url 'appointment' %}",
                type: 'post',
                dataType: 'json',
                data: $('#appointment_form').serialize(),
                success: function(data) {
                    alert(data.result)
                }
            });
        });

    </script>
{% endblock %}