{% extends 'base.html' %}
{% block content %}
    <style>
        .warning{
            background: #FFD2D2;
        }
    </style>
    <div class="alert alert-info">
        An email has been sent with instruction to reset your password.
    </div>
    <div class="alert alert-info warning">
        [WARNING]<br>
        If you do not receive an email in the mailbox, please check the "spam".<br>
        Make sure you enter the correct email address which one you applied for the account.
    </div>
{% endblock %}